In [1]:
# import libraries
import pandas as pd

In [2]:
# read datasets
matches = pd.read_csv("matches.csv")
deli = pd.read_csv("deliveries.csv")

Today's match between KKR and RCB is going to take place at the venue of Sharjah. Sharjah is a small high scoring ground, similar to the home ground of RCB, M. Chinnaswamy Stadium. Owing to this fact, the analysis has also taken the performances of the two teams at M. Chinnaswamy Stadium into consideration.

# Question 1:

In [4]:
# all matches between RCB and KKR
rcb_kkr = matches.query("team1.isin(['Royal Challengers Bangalore', 'Kolkata Knight Riders']) and team2.isin(['Royal Challengers Bangalore', 'Kolkata Knight Riders'])")

In [6]:
# victories of the two teams against each other 
rcb_kkr.winner.value_counts()

Kolkata Knight Riders          14
Royal Challengers Bangalore    10
Name: winner, dtype: int64

KKR has had a history of more victories over RCB.

In [46]:
# victories of the two teams against each other  at M Chinnaswamy Stadium
rcb_kkr[rcb_kkr.venue == 'M Chinnaswamy Stadium'].winner.value_counts()

Kolkata Knight Riders          5
Royal Challengers Bangalore    4
Name: winner, dtype: int64

Even at the home ground of RCB against it, KKR had witnessed more victories.

In [11]:
# matches of RCB
rcb = matches.query("team1 == 'Royal Challengers Bangalore' or team2 == 'Royal Challengers Bangalore'")

In [13]:
# RCB win ratio
len(rcb[rcb.winner == "Royal Challengers Bangalore"])/len(rcb)

0.4666666666666667

In [14]:
# matches of KKR
kkr = matches.query("team1 == 'Kolkata Knight Riders' or team2 == 'Kolkata Knight Riders'")

In [15]:
# KKR win ratio
len(kkr[kkr.winner == "Kolkata Knight Riders"])/len(kkr)

0.5168539325842697

KKR has a higher ratio of wins compared to RCB.

In [42]:
# filtering on venue
venue = matches[matches.venue == 'M Chinnaswamy Stadium']

venue.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
16,17,2017,Bangalore,2017-04-16,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN
29,30,2017,Bangalore,2017-04-27,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,M Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin,NaN
41,42,2017,Bangalore,2017-05-05,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kings XI Punjab,19,0,Sandeep Sharma,M Chinnaswamy Stadium,CB Gaffaney,C Shamshuddin,NaN

In [109]:
# count of victories at M Chinnaswamy Stadium by the different teams
venue.winner.value_counts()

Royal Challengers Bangalore    34
Mumbai Indians                  8
Kolkata Knight Riders           7
Chennai Super Kings             5
Kings XI Punjab                 5
Rajasthan Royals                4
Delhi Daredevils                3
Sunrisers Hyderabad             2
Deccan Chargers                 1
Gujarat Lions                   1
Rising Pune Supergiant          1
Name: winner, dtype: int64

In [106]:
# matches played by RCB at the M Chinnaswamy Stadium
len(venue.query("team1 == 'Royal Challengers Bangalore' or team2 == 'Royal Challengers Bangalore'"))

69

In [107]:
# matches played by KKR at the M Chinnaswamy Stadium
len(venue.query("team1 == 'Kolkata Knight Riders' or team2 == 'Kolkata Knight Riders'"))

12

In [108]:
# win ratio of RCB at M Chinnaswamy Stadium
print(34/69)

# win ratio of KKR at M Chinnaswamy Stadium
print(7/12)

0.4927536231884058
0.5833333333333334

Even at M Chinnaswamy Stadium, KKR has managed to maintain a higher win ratio than RCB.

## Explanation:

In 24 head-to-head matches between RCB and KKR, KKR has won a higher number of times than RCB. RCB's win percentage over the 12 years of IPL history is also less than that of KKR, even at the M Chinnaswamy Stadium. Currently, the teams hold the 3rd and 4th positions on the points table with equal number of victories and also come off a victorious last match. KKr has a higher Net Run Rate than RCB.

It seems that KKR has always had an upper hand over RCB, and hence, it can be expected that KKR will win today's match.

# Question 2:

Toss decisions mainly depend on the conditions of the venue that the match is being played at.

In [35]:
# toss decisions at M Chinnaswamy Stadium
venue.toss_decision.value_counts()

field    64
bat       9
Name: toss_decision, dtype: int64

The toss winning captain has chosen to bowl first almost 90% of the times.

In [38]:
# when the toss winning team also won the match
venue[venue.toss_winner == venue.winner].toss_decision.value_counts()

field    36
bat       4
Name: toss_decision, dtype: int64

In [110]:
# No. of times a decision of bowling first led to a victory
36/64

0.5625

In [111]:
# No. of times a decision of batting first led to a victory
4/9

0.4444444444444444

## Explanation: 

Since the teams prefer to bowl first on winning the toss at M. Chinnaswamy Stadium and it has even lead to a victory in more than half of the cases, it can be suggested that the toss winning captain at Sharjah will choose to bowl first.

# Question 3:

In [48]:
# filtering for Dinesh Karthik
karthik = deli[deli.batsman == "KD Karthik"]

In [51]:
# average no. of runs scored by Karthik in IPL history
karthik.total_runs.sum()/len(karthik.match_id.unique())

23.790123456790123

In [56]:
# average no. of runs scored by Karthik against RCB
karthik[karthik.bowling_team == "Royal Challengers Bangalore"].total_runs.sum()/len(karthik[karthik.bowling_team == "Royal Challengers Bangalore"].match_id.unique())

21.95

Dinesh Karthik has an average score, which is lesser than his normal average, of ~22 against RCB.

In [61]:
# runs scored by Karthik against RCB
runs = karthik[karthik.bowling_team == "Royal Challengers Bangalore"].groupby("match_id").sum().total_runs

In [70]:
# No. of instances when Karthik scored runs in the range 0-10 against RCB
len(runs[runs <= 10])

7

In [76]:
# No. of instances when Karthik scored runs in the range 11-20 against RCB
len(runs[runs.isin(range(11, 21))])

4

In [77]:
# No. of instances when Karthik scored runs in the range 21-35 against RCB
len(runs[runs.isin(range(21, 36))])

4

In [78]:
# No. of instances when Karthik scored runs in the range 36 or more against RCB
len(runs[runs > 35])

5

However, he has scored in single digits against RCB the most frequently.

## Explanation:

Based on the past performances of Dinesh Karthik against RCB, it seems that he will score runs in the range of 0-10.

# Question 4:

In [79]:
# Total no. of no balls in IPL history
len(deli[deli.noball_runs != 0])

714

In [80]:
# Total no. of matches in IPL history
len(deli.match_id.unique())

756

In [81]:
# average no. of no balls per match
714/756

0.9444444444444444

In [86]:
# finding out the no. of no balls bowled by KKR and RCB
noballs_kkr_rcb = deli[deli.noball_runs != 0].query("bowling_team.isin(['Royal Challengers Bangalore', 'Kolkata Knight Riders'])")

In [87]:
# no balls bowled by KKR and RCB
len(noballs_kkr_rcb)

168

In [88]:
# no. of matches in which KKR and RCB have bowled
len(noballs_kkr_rcb.match_id.unique())

120

In [89]:
# average no. of no balls per match by KKR and RCB
168/120

1.4

The average no. of no balls by KKR and RCB seems to be higher.

In [118]:
# no. of no balls per match by KKR and RCB
noballs_kkr_rcb.groupby("match_id").count()["inning"].value_counts()

1    83
2    29
3     5
4     3
Name: inning, dtype: int64

## Explanation:

Since 1 no ball has been bowled in majority of the matches by RCB and KKR, it can be expected that even in today's match there will be one no ball.

# Question 5:

In [92]:
# filtering for Virat Kohli
virat = deli[deli.batsman == "V Kohli"]

In [98]:
# average numbers of 4's hit by Virat per match
len(virat[virat.batsman_runs == 4])/len(virat[virat.batsman_runs == 4].match_id.unique())

3.5703703703703704

In [102]:
# average numbers of 4's hit by Virat per match against KKR
len(virat.query(" batsman_runs == 4 and bowling_team == 'Kolkata Knight Riders'"))/len(virat.query(" batsman_runs == 4 and bowling_team == 'Kolkata Knight Riders'").match_id.unique())

3.625

In [120]:
# counts of 4's hit by Virat per match against KKR
virat.query(" batsman_runs == 4 and bowling_team == 'Kolkata Knight Riders'").groupby("match_id").count()["inning"].value_counts()

4    3
3    3
2    3
1    3
9    2
5    2
Name: inning, dtype: int64

## Explanation:

To predict a definite value of no. of 4s seems difficult, hence, going by the average, it can be said that Virat will hit 4 4s in today's match.