# Reading the dataset:

In [1]:
# importing libraries
import pandas as pd

In [7]:
# reading the deliveries dataset
deli = pd.read_csv("deliveries.csv")

print(deli.info())
deli.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 23.2+ MB
None

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
# reading the matches dataset
matches = pd.read_csv("matches.csv")

print(matches.info())
matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 68.0+ KB
None

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

# Question 1:

Since the Delhi Capitals is the same franchise as Delhi Daredevils, with only a name change, the team Delhi Daredevils is also considered in the filtering.

In [14]:
# all matches between DC and MI
dc_mi = matches.query("team1.isin(['Mumbai Indians', 'Delhi Daredevils', 'Delhi Capitals']) and team2.isin(['Mumbai Indians', 'Delhi Daredevils', 'Delhi Capitals'])")

In [15]:
dc_mi.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
81,82,2008,Mumbai,2008-05-04,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
108,109,2008,Delhi,2008-05-24,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,KD Karthik,Feroz Shah Kotla,BF Bowden,K Hariharan,NaN
149,150,2009,East London,2009-05-08,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Delhi Daredevils,0,7,A Nehra,Buffalo Park,M Erasmus,SK Tarapore,NaN

In [17]:
# finding the number of victories that the two teams have had against each other
dc_mi.winner.value_counts()

Mumbai Indians      12
Delhi Daredevils    11
Delhi Capitals       1
Name: winner, dtype: int64

Both the teams have won the same number of matches against each other. So none of the teams seem to have any advantage over the other.

## Explanation:

Going head to head 24 times in the past 12 years of the tournament, both MI and the Delhi franchise, currently named Delhi Capitals, have won an equal number of games, 12 each. However, the tournament is being held in UAE this year and there is no home ground advantage. Today’s match between DC and MI will be played at Abu Dhabi, where MI has won all the 3 games that it has played on that ground. The only loss that DC has suffered this year came at the only match that it has played here. DC and MI are currently at the 1st and 2nd positions in the score table, but MI has a higher net run rate. Owing to the upper hand that MI has at the ground of Abu Dhabi and their better team performance evident in the net run rate, it seems that MI will win today’s match.

# Question 2:

In [19]:
# when DC won the toss
dc_toss = matches[matches["toss_winner"].isin(['Delhi Daredevils', 'Delhi Capitals'])]

In [25]:
len(dc_toss)

90

In [26]:
dc_toss[dc_toss["winner"].isin(['Delhi Daredevils', 'Delhi Capitals'])].groupby("toss_decision").count()

,id,season,city,date,team1,team2,toss_winner,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
toss_decision,,,,,,,,,,,,,,,,,
bat,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,2
field,30,30,30,30,30,30,30,30,30,30,30,30,30,30,29,29,6

In the 90 matches that DC have won the toss in, they have won 42 times, out of which the decision for majority of the times had been to bowl first.

In [27]:
# when MI won the toss
mi_toss = matches[matches["toss_winner"] == "Mumbai Indians"]

In [28]:
len(mi_toss)

98

In [29]:
mi_toss[mi_toss["winner"] == "Mumbai Indians"].groupby("toss_decision").count()

,id,season,city,date,team1,team2,toss_winner,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
toss_decision,,,,,,,,,,,,,,,,,
bat,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,3
field,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,5

In the 98 matches that MI have won the toss in, they have won 56 times, out of which the decision for majority of the times had been to bowl first.

## Explanation:

In the last 3 matches at Abu Dhabi, the toss winning captain decided to bat first and managed to win the game. Although both the teams have a history of winning more number of games when deciding to bowl first, keeping the previous matches, ground and weather conditions of the location in mind, it seems that the toss winning captain will decide to bat first.

# Question 3:

Rohit Sharma has never shown any match winning performance against DC.

In [31]:
dc_mi.player_of_match.value_counts()

V Sehwag           3
KD Karthik         2
SV Samson          1
SM Pollock         1
Harbhajan Singh    1
MEK Hussey         1
SS Iyer            1
LMP Simmons        1
KA Pollard         1
HH Pandya          1
MJ McClenaghan     1
M Vijay            1
AT Rayudu          1
S Nadeem           1
SL Malinga         1
A Mishra           1
JJ Roy             1
SR Tendulkar       1
KH Pandya          1
RR Pant            1
A Nehra            1
Name: player_of_match, dtype: int64

## Explanation:

Rohit Sharma has performed well in this year’s tournament, maintaining an average score of 35 in 6 matches. His highest score in this edition of the IPL has also come at this ground itself, and he has crossed the score of 30 in all the three matches that MI have played at Abu Dhabi. Although Rohit Sharma has never given any match-winning performance against DC, his current form and ability to score runs at this ground suggest that he might again score well in this match, probably more than 40 runs.

# Question 4:

In [78]:
# deliveries by Kagiso Rabada
rabada = deli[deli.bowler == "K Rabada"]

Kagiso Rabada has taken 36 wickets in 18 matches with an average of 2 wickets per match.

In [63]:
rabada['player_dismissed'].count()

36

In [66]:
len(rabada.match_id.unique())

18

In [67]:
36/18

2.0

However, he has performed below his average against MI, taking 7 wickets in 4 matches.

In [76]:
rabada.query("batting_team == 'Mumbai Indians' or bowling_team == 'Mumbai Indians'")['player_dismissed'].count()

7

In [77]:
len(rabada.query("batting_team == 'Mumbai Indians' or bowling_team == 'Mumbai Indians'").match_id.unique())

4

## Explanation:

Kagiso Rabada has taken 36 wickets in the 18 IPL matches that he has played since 2017, with an average of 2 wickets per match. He currently holds the Purple Cap this season, with 15 wickets in 6 matches and can be said to be in great form. However, he has failed to maintain his own average against MI, taking 7 wickets in 4 matches. Hence, it is possible that Rabada will take 2 wickets in this match.

# Question 5:

There have been 5405 wide deliveries in 756 matches, with an average of ~7 per match.

In [69]:
len(deli[deli.wide_runs != 0])

5405

In [70]:
len(deli.match_id.unique())

756

In [71]:
5405/756

7.1494708994708995

## Explanation:

On an average, 7 wide balls are thrown in an IPL match. Even in IPL 2020, a high number of wide balls are being thrown in every match. Hence, it is safe to say that more than 6 wide balls will be bowled in total in the two innings of the match.